body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../Imagenes/NIZA-FACHADA-UTC.jpg");
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  padding: 1em;
}

.imagen1 {
  background-image: url("../Imagenes/NIZA-FACHADA-UTC.jpg");
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-left: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

form input[type="text"],
form input[type="password"] {
  width: 50%;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #000000;
}
/* Estilos para la ventana modal */
.modal {
  display: none; /* Ocultar la ventana modal por defecto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Colocar la ventana modal encima de todo */
  left: 0;
  top: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

/* Estilos para el contenido de la ventana modal */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 50%;
  border-radius: 10px;
}

/* Estilos para el botón de cierre */
.close {
  color: #ff9100;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-btn {
  width: 150px;
  margin: auto;
}

.boton-primario {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-primario {
  background-color: #0078d7;
}

.boton-primario:hover {
  background-color: #8dc8f8;
}

.container {
  position: relative;
  width: 100%;
  height: 500px; /* altura del contenedor */
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* color de fondo semitransparente */
  color: #fff;
  text-align: center;
  padding: 1rem;
}
footer {
  background-color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  color: #5e5c5c;
}
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#loginBtn {
  background-color: #4caf50; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 4px 8px; /* Tamaño del padding (vertical, horizontal) */
  border: none; /* Quita el borde */
  border-radius: 4px; /* Redondea las esquinas */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

#loginBtn:hover {
  background-color: #3e8e41; /* Cambia el color de fondo al pasar por encima */
}
